.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 120px auto;
    width: 90%;
    height: 40vh;
    padding: 70px 140px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
}
.newsletter h1{
    font-size: 45px;
    font-weight: 600;
    color: #616161;
    width: 100%;
}
.newsletter p{
    font-size: 20px;
    font-weight: 500;
    color: #616161;
    margin: 25px 2px;
    text-align: center;
}
.news{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #928f8f;
}
.news input{
    outline: none;
    border: none;
    margin-left: 30px;
    width: 500px;
    font-size: 18px;
    color: #5b5757;
    font-size: 20px;
}
.news button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    cursor: pointer;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
}